@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Neucha&family=Space+Grotesk:wght@400;700&display=swap");
a {
	color: rgba(255, 189, 170, 0.9);
}
a:hover {
	color: rgba(85, 41, 6, 1);
}
